<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ConfigVersion1" value="0"/>   
    <add key="SpeicherArt" value="Datei"/>   
    <add key="Filepath" value="C\\Test"/>
    <add key="Cloud_User" value=""/>
    <add key="Cloud_Password" value=""/>
    <add key="Server" value="THINKPADT440S"/>
    <add key="Database" value=""/>
    <add key="User" value="Test"/>
    <add key="Password" value="123"/>
    <add key="UseLogin" value="123"/>
  </appSettings>
</configuration>